#overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
    background: transparent;
}

.fullScreenViewPanel {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
}

#overlay .dialogPanel {
    font-size: smaller;
    width: 700px;
    margin: 100px auto;
    border: 1px solid whitesmoke;
    text-align: center;
}

#overlay .timestampDialogPanel {
    top: 0px;
    height: 450px;
    font-size: smaller;
    width: 475px;
    margin: 100px auto;
    border: 1px solid whitesmoke;
    text-align: center;
}

#overlay .themesDialogPanel {
    top: 0px;
    height: 250px;
    font-size: smaller;
    width: 275px;
    margin: 100px auto;
    border: 1px solid whitesmoke;
    text-align: center;
}

#overlay .prepostDialogPanel {
    top: 0px;
    font-size: smaller;
    width: 475px;
    margin: 100px auto;
    border: 1px solid whitesmoke;
    text-align: center;
}

.replaceDialogPanel {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: smaller;
    width: 700px;
    margin: 100px auto;
    border: 1px solid whitesmoke;
    text-align: center;
}

.replaceDialogHeader {
    text-align: center;
    width: calc(100% + 4px);
    color: whitesmoke;
    font-size: large;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2px;
    margin-left: -2px;
    margin-top: -2px;
}

.defaultpos {
    margin-left: 25%;
    margin-right: 25%;
}

.leftpos {
    margin-top: 40%;
    margin-left: 40%;
}

.header {
    text-align: center;
    width: calc(100% + 4px);
    color: whitesmoke;
    font-size: large;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2px;
    margin-left: -2px;
    margin-top: -2px;
}

#overlay .footer {
    text-align: center;
    width: 100%;
    padding: 15px;
    padding-top: 20px;
}

.closeCross {
    float: right;
    font-size: 14px;
    padding: 3px;
    margin-top: 3px;
    margin-right: 3px;
    background-color: #a20c12;
    color: blanchedalmond;
    text-align: center;
    width: 18px;
    border-radius: 3px;
}

.previewText {
    height: 100px;
    width: 70%;
    background-color: cornsilk;
}

.actionButton {
    background-color: #58c800;
    width: 80px;
    color: white;
    border: 0px;
    margin: 0px;
    font-weight: bold;
    height: 25px;
    box-shadow: 2px 2px 2px #888888;
}

.miniActionButton {
    background-color: #58c800;
    width: 20px;
    color: white;
    border: 0px;
    margin: 0px;
    font-weight: bold;
    height: 16px;
}

.wideButton {
    width: 160px;
}