html, body {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 12pt;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    background-color: #4d50d9;
}

.menuItem {
    z-index: 999;
    border: solid 1px;
    border-bottom: 0;
}

.menuFooter {
    z-index: 999;
    border: solid 1px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top: 0;
    height: 5px;
}

.closeButton {
    width: 80px;
    background-color: blanchedalmond;
    border: 0;
    margin: 0;
    font-weight: bold;
    height: 25px;
    box-shadow: 2px 2px 2px #888888;
}

textarea {
    font-size: 10pt;
    border: 1px solid;
    border-right: none;
    outline: none;
    resize: none;
    overflow-y: scroll;
    height: calc(100vh - 100px);
    margin-left: 5px;
    margin-right: 5px;

    padding: 5px;
}

.preview {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 45%;
    font-size: 10pt;
    display: inline-block;
    height: calc(100vh - 100px);
    border: 1px solid seashell;
    padding: 5px;
    margin: 0;
}

.toolbarButton {
    border: 0;
    margin: 0;
    height: 25px;
    text-align: left;
    min-width: 130px;
    margin-left: 12px;
    font-size: 9pt;
    font-weight: bold;
}

.miniToolbarButton {
    width: 70px;
    color: #9ed3d9;
    background-color: #2B2926;
    border: 0;
    margin: 0;
    height: 26px;
    text-align: center;
    font-size: 10pt;
    min-width: 40px;
    border-radius: 4px;
    margin-top: 2px;
    margin-right: 5px;
}

.wideToolbarButton {
    width: 95px;
    color: #9ed3d9;
    background-color: #2B2926;
    border: 0;
    margin: 0;
    height: 26px;
    text-align: center;
    font-size: 10pt;
    min-width: 40px;
    border-radius: 4px;
    margin-top: 2px;
    margin-right: 5px;
}

.undoToolbarButton {
    margin: 0;
    margin-top: 2px;
    width: 40px;
    color: darkgray;
    background-color: #2B2926;
    border: 0;
    height: 26px;
    text-align: center;
    font-size: 9pt;
    min-width: 4px;
    border-radius: 4px;
}

.roundButton {
    border-radius: 4px;
}

.toolbarMenuButton {
    margin-left: 0;
    padding-left: 5px;
}

.labelReadOnly {
    top: 0;
    left: 2px;
    font-size: small;
    max-width: 180px;
    margin-top: -16px;
    background-color: #8FABBC;
    padding: 5px;
    padding-left: 15px;
    text-align: left;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;

}

.toolbarField {
    font-size: 8pt;
    width: 135px;
    height: 25px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-right: 4px;
    margin-left: 14px;
    margin-top: 2px;
}

.np-fade {
    opacity: 0.25;
}

.np-nofade {
    opacity: 1;
}

button {
    background-color: #9ed3d9;
}

.toolbarMenuTitle {

    margin: 0;
    margin-top: 5px;

    padding: 0;
    padding-left: 3px;
    z-index: 99;
    font-size: 9pt;
    font-weight: bold;
}

.toolbarMenu {
    border: 1px;
    margin: 0;
    height: 25px;
    min-width: 100px;
    font-size: 9pt;
    font-weight: bold;
}

.menuInit {
    width: 110px;
    height: 30px;
    z-index: 1000;
}

.menuModify {
    width: 110px;

    height: 30px;
    z-index: 1000;
}

.menuAdd {
    width: 110px;

    height: 30px;
    z-index: 1000;
}

.menuRemove {
    left: 530px;
    width: 110px;
    height: 30px;
    z-index: 1000;
}

.menuAdvanced {
    left: 630px;
    width: 110px;
    height: 30px;
    z-index: 1000;
}

.menuView {
    left: 730px;
    width: 110px;
    height: 30px;
    z-index: 1000;
}

.menuHelp {
    left: 830px;
    width: 110px;
    height: 30px;
    z-index: 1000;
}

.srhsButtons {
    flex: 0.8;
    text-align: right;
}

.rhsStatus {
    flex: 1;
    text-align: right;
}

.lhsStatus {
    flex: 3;
}

.statusPanel {
    background-color: #9ed3d9;
    padding-left: 5px;
    display: flex;
    font-size: small;
    flex: 1;
    width: 95vw;
    height: 12px;
}

.toolbar {
    background-color: #9ed3d9;
    border-bottom: solid 1px #606993;
    display: flex;
    height: 30px;
    margin-right: -12px;
    margin-bottom: 0;
    padding: 1px;
    width: 110%;
}

.menuSeparator {
    width: 130px;
    height: 0;
    padding: 0;
    margin: 0;
    border-bottom: solid 1px red;
}

.edit-label {
    height: 26px;
    padding: 0;
    margin-left: 5px;
    display: inline-block;
}

.mainEditorDisplay {
    flex: 2;
    overflow: none;
    height: calc(100vh - 22px);
}