/* default theme */
.default-theme-1 {
    background-color: #bbd8f9;
    color: #111111;
}

.default-theme-2 {
    background-color: #9ac0e9;
    color: #111111;
}

.default-document {
    background-color: whitesmoke;
    color: #111111;
}

.default-highlight:hover {
    background-color: lightgreen;
}

.default-border {
    border-color: #94b1ff !important;
}

/* dark theme */
.dark-theme-1 {
    background-color: #111111;
    color: #eee862;
}

.dark-theme-2 {
    background-color: #333333;
    color: #eee862;
}

.dark-document {
    background-color: black;
    color: #00DC00;
}

.dark-highlight:hover {
    background-color: rgb(10, 102, 112);
}

.dark-border {
    border-color: #A8A5A8 !important;
}