#overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
    background: transparent;
}

#overlay .dialogPanel {
    font-size: smaller;
    width: 700px;
    margin: 100px auto;
    border: 1px solid whitesmoke;
    text-align: center;
}

#overlay .header {
    text-align: center;
    width: 100%;
    color: whitesmoke;
    font-size: large;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2px;
}

#overlay .footer {
    text-align: center;
    width: 100%;
    padding: 15px;
    padding-top: 20px;
}

.closeCross {
    float: right;
    font-size: 19px;
    padding: 3px;
    background-color: orangered;
    color: blanchedalmond;
    text-align: center;
    width: 22px;
    border-radius: 4px;
}

.previewText {
    height: 100px;
    width: 70%;
    background-color: cornsilk;
}