#overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
    background-image: url("img/background.png");
}

#overlay .dialogPanel {
    font-size: smaller;
    width: 600px;
    margin: 100px auto;
    border: 1px solid whitesmoke;
    padding: 5px;
    text-align: left;
    z-index: 1010;
}

#overlay .header {
    text-align: center;
    width: 100%;
    color: whitesmoke;
    background-color: darkslategrey;
    font-size: large;
}

#overlay .footer {
    text-align: center;
    width: 100%;
    padding: 5px;
}