html, body {
    font-family: monospace;
    background-color: #333333;
    color: #b8df42;
    font-size: 14pt;
    width: 95%;
}

textarea {
    background-color: #111111;
    color: #b8df42;
    font-size: 10pt;
    border: 0px;
    width: 100%;
    outline: none;
    resize: none;
    overflow-y: scroll;
}

textarea {
    background-color: black;
    width: 98vw;
    height: 90vh;
}

button {
    background-color: cornflowerblue;
    width: 80px;
    color: white;
    border: 0px;
    margin: -6px;
}

.toolbar {
    margin-left: 6px;

    height: 25px;
}

button:hover {
    background-color: darkslategrey;
}